<!DOCTYPE html>
<html>
    <head lang="es">
        <meta charset="utf-8" />
        <title>Estructura</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000000">
        <link rel="manifest" href="manifest.json">
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body>
        <h1>Holamundo!</h1>

        <form action="/show">
            <input type="submit" value="Show" id="btnShow"/>
        </form>

        <form action="/add">
            <input type="submit" value="Add" id="btnAdd"/>
        </form>

    </body>
</html>